.extra-menu {
  display: flex;
  justify-content: center;

  &__link {
    font: 500 18px/1 Lato, sans-serif;
    color: $lightGrayText;

    &:not(:last-child) {
      margin-right: 45px;

      @include mobile-s {
        margin-bottom: 15px;
      }
    }

    &_active {
      color: $darkGray;
    }
  }

  @include tablet {
    margin-top: 15px;
  }

  @include mobile-s {
    flex-direction: column;
  }
}