.extra-menu {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;

  &__link {
    font: 500 18px/1 Lato, sans-serif;
    color: $lightGrayText;

    &:not(:last-child) {
      margin-right: 45px;
    }

    &_active {
      color: $darkGray;
    }
  }
}