.cart-links {
  display: flex;
  align-items: flex-end;

  &__favorite-link {
    margin-right: 15px;
  }

  &__favorite-icon {
    fill: none;
    width: 25px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__cart-icon {
    color: $iconsGray;
    width: 21px;
    height: 24px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}