.filter {
  &__color-icon {
    position: absolute;
    left: 38px;
    width: 14px;
    height: 14px;
  }
}

.filter-colors {
  &__custom-checkbox+label {
    &::before {
      margin-right: 28px;
    }
  }
}

.filter-title {
  margin-bottom: 20px;
  font: $filterTitle;
  color: $darkGray;
}

.filter-item {
  display: flex;
  align-items: center;
  font: $mainText;
  color: $middleGray;

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}