.sort-btn {
  margin-left: auto;
  color: $lightGrayText;
  font: 500 16px/1 Lato, sans-serif;

  .sort-icon {
    margin-right: 5px;
    width: 11px;
    fill: $iconsGray;
  }

  @include mobile-s {
    margin-left: 0;
    margin-top: 15px;
  }
}