.prod-info {
  grid-column: 5 span;
  justify-self: flex-end;
}

.product {
  &__sizes-list {
    display: flex;
  }

  &__sizes-item {
    font: 600 20px/1.5 Lato, sans-serif;

    &:not(:last-child) {
      margin-right: 12px;
    }

    &_active {
      color: $lightGrayText;
    }
  }

  &__colors-list {
    display: flex;
  }

  &__color {
    width: 45px;
    height: 45px;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &_active {
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld0JveD0iMCAwIDQgNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNCA0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0FCQUJBQiIgc3Ryb2tlLXdpZHRoPSIwLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgeDE9IjAiIHkxPSIwIiB4Mj0iNCIgeTI9IjQiLz4NCjwvc3ZnPg0K");
      background-repeat: repeat;
    }
  }

  &__colors-list {
    display: flex;
  }

  &__order-block {
    display: flex;
    align-items: center;
  }

  &__btn-stroke {
    margin-right: 25px;
  }

  &__btn-fill {
    min-width: 168px !important;
  }

  &__counter {
    margin-right: 25px;
  }

  .prod-gallery {
    display: flex;
    grid-column: 7 span;
    max-height: 745px;

    .preview-slider {
      margin-right: 35px;
      display: flex;
      flex-direction: column;
      width: 175px;
      height: 745px;

      &__img-wrap {
        overflow: hidden;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .main-slider {
      height: 745px;

      &__slide {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .swiper-wrapper {
      width: 100%;
      height: 100%;
    }
  }

  .swiper-slide {
    border: 1px solid $iconsGray;
  }

  .swiper-slide-thumb-active img {
    opacity: 0.5;
  }
}