.header-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .logo-black {
    @include tablet {
      width: 100px;
    }
  }

  @include tablet {
    flex-direction: column;
  }
}