.breadcrumbs-nav {
  margin-left: auto;

  .crumb-link {
    font: $mainText;
    color: $darkGray;

    &:not(:last-child) {
      &::after {
        padding: 0 10px 0 10px;
        content: '/';
      }
    }
  }

  .crumb-link_active {
    color: $lightGrayText;
  }

  @include tablet {
    margin-left: 0;
    margin-top: 15px;
  }
}