.crumb-link {
  font: $mainText;
  color: $darkGray;

  &:not(:last-child) {
    &::after {
      padding: 0 10px 0 10px;
      content: '/';
    }
  }
}

.crumb-link_active {
  color: $lightGrayText;
}