.popup {
  &__content {
    position: absolute;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 10px 4px 15px rgba(11, 43, 61, .2);
    background-color: #fff;
    min-width: 260px;
    max-width: 315px;
    z-index: 9;
  }

  &__content.filter {
    left: 0;
  }

  &__content.sort {
    right: 0;
  }
}