/* Reset and base styles  */

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links tags */

a {
  cursor: pointer;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Base structure */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Base classes */

.container {
  margin: 0 auto;
  padding: 0 $container-offset;
  max-width: $container-width;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $grid-gap;

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include mobile-m {
    grid-template-columns: repeat(4, 1fr);
  }
}

.content-bar-wrap {
  position: relative;
  margin-top: 60px;
  display: flex;

  @include mobile-s {
    margin-top: 40px;
    flex-direction: column;
    align-items: flex-start;
  }
}


/* UI */
.preloader {
  animation: preloader 1s infinite linear;
  color: #83e7d4;
}

@keyframes preloader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.new-icon {
  position: absolute;
  z-index: 5;
}

.favorite-icon {
  fill: none;
}

.favorite-icon_fill {
  fill: $favoriteHover;
  stroke: $favoriteHover;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;

  &::before {
    margin-right: 8px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid $accent;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.custom-checkbox {
  &:checked+label {
    &::before {
      background-image: url("../icons/iconCheck.svg");
      background-color: $accent;
    }
  }
}

.color-block {
  &_active {
    border: 2px solid $iconsGray;
  }
}

/* Modal */

.modal-params-title {
  margin-bottom: 10px;
  font: 600 16px / 1 Lato, sans-serif;
}

.modal-sizes-list {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.modal-colors-wrap {
  margin-top: 20px;
}

.modal-colors-list {
  display: flex;

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.params {
  &__size-block {
    display: inline-flex;
    font: $mainText;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    border: 1px solid $iconsGray;

    &_active {
      background-color: $iconsGray;
      color: $middleGray;
    }
  }

  &__color-block {
    display: inline-flex;
    width: 40px;
    height: 30px;
  }
}

.modal-sucess-btn {
  margin-top: 20px;
  border: 1px dashed $darkGray;
  padding: 8px 15px;
  font: $mainText;
}