.products {
  margin-top: 45px;

  &__list {
    display: grid;
    grid-template: 625px / repeat(4, 1fr);
    grid-auto-rows: 625px;
    grid-gap: 20px;
  }

  &-card {
    position: relative;
    padding: 43px 0 50px;
    text-align: center;
    border: 1px solid $iconsGray;

    &_title {
      margin: 0 auto 15px;
      font: $prodTitle;
      max-width: 180px;
      min-height: 60px;
    }

    &_price {
      font: $prodPrice;
    }
  }

  &__color-icon {
    width: 20px;
    height: 20px;

    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__colors-wrapper {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }

  &__img-wrap {
    margin: 0 auto 22px;
    max-width: 180px;
    height: 250px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__price-wrap {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 50px;
  }

  &__favorite-icon {
    width: 28px;
    height: 22px;
    fill: none;

    &:hover {
      fill: $favoriteHover;
      stroke: $favoriteHover;
    }
  }

  &__favorite-icon_fill {
    width: 28px;
    height: 22px;
    fill: $favoriteHover;
    stroke: $favoriteHover;
  }

  &__old-price {
    margin-bottom: 7px;
    text-decoration: line-through;
    color: $lightGrayText;
  }

  &__new-icon {
    top: 20px;
    right: 20px;
  }

  .favorite-icon-wrap {
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .not-found-filters {
    text-align: center;
    font: $mainText;
  }

  .modal-params-title {
    margin-bottom: 10px;
    font: 600 16px / 1 Lato, sans-serif;
  }

  .modal-sizes-list {
    display: flex;

    &__item {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  .modal-colors-wrap {
    margin-top: 20px;
  }

  .modal-colors-list {
    display: flex;

    &__item {
      display: flex;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  .params {
    &__size-block {
      display: inline-flex;
      font: $mainText;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 40px;
      border: 1px solid $iconsGray;

      &_active {
        background-color: $iconsGray;
        color: $middleGray;
      }
    }

    &__color-block {
      display: inline-flex;
      width: 40px;
      height: 30px;
    }
  }

  .modal-sucess-btn {
    margin-top: 20px;
    border: 1px dashed $darkGray;
    padding: 8px 15px;
    font: $mainText;
  }
}